<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="de.henningBrinkmann.mybatisSample.mapper.CategoryMapper">
	<insert id="insertCategory" parameterType="de.henningBrinkmann.mybatisSample.xmltv.Category">
		INSERT INTO `mybatissample`.`category`
		(`value`,
		`lang`)
		VALUES
		(#{value},
		#{lang});
	</insert>
</mapper>
