<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="de.henningBrinkmann.mybatisSample.mapper.ChannelMapper">
	<insert id="insertChannel" parameterType="de.henningBrinkmann.mybatisSample.xmltv.Channel">
		INSERT INTO
		`mybatissample`.`channel`
		(`displayname`,
		`url`,
		`iconurl`,
		`id`)
		VALUES
		(#{displayName},
		#{url},
		#{iconUrl},
		#{channelId});
	</insert>
</mapper>
